# 500.html
{% extends "base.html" %}

{% block subtitle %}Страница не найдена{% endblock %}
{% block meta %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block content %}
    <h2>Значение 500 — код статуса протокола HTTP.</h2>
    <p> Причина ошибки с таким кодом — неисправность конфигурации сервера, либо появление информации о том, что произошел отказ компонента. При ошибке 500 программное обеспечение работает, но есть серьезные внутренние проблемы, которые мешают запросам правильно обрабатываться.</p>
    <p><a href="{% url 'core:index' %}">Возврат на домашнюю страницу</a></p>
{% endblock %}