{% extends 'base.html' %}

{% block title %}
    <title>Tests List</title>
{% endblock %}

{% block header %}
<header>
    <strong><p>Tests List</p></strong>
</header>
{% endblock %}

{% block content %}

{% include 'includes/tests-table.html' %}

{% endblock %}