{% extends 'base.html' %}

{% block title %}
    <title>Leaderboard</title>
{% endblock %}

{% block header %}
<header>
    <strong><p>Leaderboard</p></strong>
</header>
{% endblock %}


{% block content %}

{% include 'includes/leaders-table.html' %}

{% endblock %}