{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Logout</title>
{% endblock %}

{% block header %}
<header>
    <p>User is Logged Out</p>
</header>
{% endblock %}

{% block content %}
          
        <a class = "btn btn-sm " href="{% url 'accounts:login' %}">Login</a>
        <a class = "btn btn-sm " href="{% url 'core:index' %}">Home</a>
{% endblock %}
