{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
        <h1>Edit user</h1>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
         
        <div class="media">
            <div class="img-circle.vert">
                <img class="rounded-circle p-1 m-1" width="200" height="200"  src="{{ user.image.url }}">
            </div>
    
            <div class="media-body  p-3 m-3">
                <h2 class="account-heading">{{ user.username }}</h2>
                <h3 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h3>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
    

        {% csrf_token %}
       
        {{form|crispy}}

        <input class="btn btn-success" type="submit" value="Save">
        <a class="btn btn-light" href="{% url 'core:index' %}">Cancel</a>
        <a class="btn btn-light" href="{% url 'accounts:password' %}">Change Password</a>
    </form>

   
    <table class="table table-striped">
        <tr>
            
            <th>Test Name</th>
            <th>Test Date</th>
            <th>Test Points</th>
            
        </tr>
    {% for test in tests %}
        <tr>
            <td>{{ test.test }}</td>
            <td>{{ test.write_date }}</td>
            <td>{{ test.points }}</td>
            
        </tr>
    {% endfor %}

    </table>


{% endblock %}
