{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Register new user</title>
{% endblock %}

{% block header %}
<header>
    <p>Login</p>
</header>
{% endblock %}

{% block content %}
   
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        
        <input class="btn btn-success" type="submit" value="Register">
        <a class = "btn btn-sm " href="{% url 'core:index' %}">Home</a>
    </form>
{% endblock %}
