<table>
    <tr>
        <th>Image</th>
        <th>Full Name</th>
        <th>Rating</th>
        
    </tr>
{% for users in users %}

    <tr>
      <td><img class="rounded-circle p-1 m-1" width="40" height="40"  src="{{ user.image.url }}"></td>>
      <td>{{ users.first_name }}</td>
      <td>{{ users.rating|floatformat:0 }}</td>
    </tr>
{% endfor %}
</table>

{% include 'includes/pagination.html' %}


