{% load static %}
<table>
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Description</th>
        <th>Level</th>
        <th></th>
    </tr>
{% for test in tests %}

    <tr> 
      <td><img class="rounded-circle p-1 m-1" width="60" height="60"  src="{{ test.image.url }}"></td>
      <td>{{ test.title }}</td>
      <td>{{ test.description }}</td>
      <!-- <td>{{ test.get_level_display }}</td> -->
      
      <td> <img src="{% static 'testify/img/' %}{{ test.get_level_display }}.png" height="30px" width="40px"/> </td>
      <td> <a href="{% url 'tests:details' id=test.id %}">DETAILS</a></td>
    </tr>
{% endfor %}
</table>

{% include 'includes/pagination.html' %}


